*{
    margin: 0;
}

body{
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: hsl(200deg 20% 97%);
}

header{
    background-color: white;
    padding: 15px;
}

.button{
    padding-bottom: 10px;
}

.button-one{
    background-color:hsl(203deg 80% 59%);
    border-radius: 5px;
    color: white;
    border: 1px solid hsl(203deg 80% 59%);
    padding-top: 5px;
    padding-bottom: 5px;
}

.button-two{
    color: lightgray;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
}

.text-header h1{
    vertical-align: middle;
    display: inline;
}

.text-header img{
    vertical-align: middle;
}

hr{
    width: 100%;
    padding: 0%;
}

.first-header{
    padding-top: 20px;
}

.container-main{
    background-color: white;
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    padding: 30px;
}

ul{
    list-style: none;
    padding-bottom: 25px;
    padding-top: 10px;
    padding-left: 0;
}

li{
    padding: 5px 0;
}

.cross{
    border-radius: 50%;
    border: 1px solid red;
    background-color: white
}

.inside{
    color: red;
}

.check{
    border-radius: 50%;
    border: 1px solid green;
    background-color: white 
}

.inside-2{
    color: green;
}

.bt{
    border-radius: 10px;
    border: 1px;
    color: white;
    padding: 6px;
    margin-left: 4px;
}

.blue{
    background-color: hsl(203deg 80% 59%) ;
}

.purple{
    background-color: #9c72e4;
}

.green{
    background-color: #64c0a9 ;
}

.orange{
    background-color: #f29e33 ;
}

.pink{
    background-color: #d863a1;
}

.slime{
    background-color: #b0c926 ;
}

